!!!
%html
  %head
    %title Wyld Wiki Warble
    %link{:rel => 'stylesheet', :href => 'style.css', :type => 'text/css'}
    %script{:src => 'jquery.js', :type => 'text/javascript'}
    %script{:src => 'code.js', :type => 'text/javascript'}
  %body
    .top
    %h1 Warble (11)
    #content
      .left
      .main
        %div
          %div
            (
            %span#remaining.countdown 29
            )
        %textarea#data Your goal: Spread wisdom
        %dl#sample.sample
          %hr
          %dt 
          %dd
        #history
      .right
    .bottom
      %p Knowledge Management meets Wiki + Twitter. (47)
